// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
background-color: #0B0D19;
color: #f3f2f0;
font-family: 'Montserrat', sans-serif;
}

.OverskriftFont{
	font-family: "apolline", serif;
	font-weight: 700;
	font-style: normal;
}


.BackgroundPicture{
	background-image: url("../Images/Krediteres Annemone Sommer (1).jpg");
	background-size: cover;
	background-repeat: no-repeat;

	background-position: top;
	height: auto;
	width: 100%;
}

.bio{
	height: 200px;
	background-color: #0F2233;

}

.BackgroundColor{
	background-color:#0F2233;
}

a{
	color: #f3f2f0;
}

a:hover{
	color: #f3f2f0;
}